.chatList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    padding: 0 20px;
    height: 100%;
    border-right: 0.5px solid whitesmoke;
    background-color: rgb(197, 197, 253);
}